<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger header">
            <h4 class="card-title">Files</h4>
            <div class="fill-space"></div>
            <div class="item-actions">
              <div class="item-action">
                <button mat-button
                        class="nav-link"
                        routerLink="/articles/create">
                  <i class="material-icons">add</i>
                  new file
                  <div class="ripple-container"></div>
                </button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                <th>Title</th>
                <th>image</th>
                <th class="td-actions text-right">Actions</th>
                </thead>
                <tbody>
                <tr *ngFor="let file of files">
                  <td>{{file.name}}</td>
                  <td>image</td>
                  <td class="td-actions text-right">
                    <button mat-raised-button
                            *ngIf="false"
                            type="button"
                            matTooltip="Remove"
                            [matTooltipPosition]="'above'"
                            class="btn btn-danger btn-link btn-sm btn-just-icon">
                      <i class="material-icons">close</i>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
