<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Articles</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>Title</th>
                                <th>Enable</th>
                                <th>Name</th>
                                <th>Views</th>
                                <th>Banner</th>
                                <th>Actions</th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let post of posts">
                                    <td>{{post.title}}</td>
                                    <td>{{post.enable}}</td>
                                    <td>{{post.name}}</td>
                                    <td>{{post.views}}</td>
                                    <td>image</td>
                                    <td class="text-primary">buttons</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
