/* You can add global styles to this file, and also import other style files */

.fill-space {
  flex: 100;
}

.header {
  display: flex;

  .card-title {
    display: inline-block;
  }

  .item-actions {
    display: inline-block;
    position: inherit;
    width: auto;

    .item-action {
      button {
        text-transform: capitalize;
      }
    }
  }
}

mat-dialog-container {
  box-shadow: none !important;
  position: relative;
  background: transparent !important;
}
